## Reg_logísitica

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

### 1. Obtener y analizar datos

In [ ]:
def leer_datos(ruta):
    df = pd.read_csv(ruta,sep=',')   
    return df

In [ ]:
entrenamiento = leer_datos("data_Titanic.csv")
entrenamiento.info()

In [ ]:
entrenamiento.head()

In [ ]:
"""Analizo valores, en este caso tenemos varios datos nullos"""
entrenamiento.isna().sum().sort_values()

In [ ]:
"""los espacios en blanco representan los valores faltantes/nulos"""
sns.heatmap(entrenamiento.isna())

In [ ]:
"""NO no sobreviven"""
sns.countplot(x='Survived', data=entrenamiento)

In [ ]:
sns.countplot(x='Survived', data=entrenamiento, hue="Sex")

In [ ]:
sns.countplot(x='Survived', data=entrenamiento, hue="Pclass")

In [ ]:
"""vemos q la mayor parte esta entre los 20 y 40"""
sns.distplot(entrenamiento["Age"].dropna(), kde=False)
"""kde elimina la parte de linea curva q muestra la normal
puedo especificar el # de columnas con bins"""
# sns.distplot(entrenamiento["Age"].dropna(), kde=False, bins=30)

In [ ]:
# numero de familiares de c/pasajero
entrenamiento['SibSp'].plot.hist(bins=20)
"""0 representa la gente qu no tenia familiares, 1 la gente con 200 familiares"""

### 2. Limpieza de datos

In [ ]:
sns.heatmap(entrenamiento.isnull())

In [ ]:
# vamos a modificar el valor nullo por el valor medio
# calcular la edad media x cada una de las categorias (1ra,2da,y 3ra clase)
"""la linea que divide la caja representa el valor medio
38 clase 1, 30 clase 2, 25 clase 3"""
sns.boxplot(x="Pclass", y="Age", data=entrenamiento)

In [ ]:
#rellenar valore nulos con la media de los valores
def calcular_edad_media(columnas):
    edad= columnas[0]
    clase=columnas[1]
    if pd.isnull(edad):
        if clase == 1:
            return 38
        elif clase == 2:
            return 30
        else:
            return 25
    else:
        return edad
    
# Invoco a la función calcular_edad_media 
entrenamiento["Age"] = entrenamiento[["Age","Pclass"]].apply(calcular_edad_media, axis=1)
entrenamiento.head(3)

In [ ]:
# Borramos la columna Cabin
entrenamiento.drop("Cabin",axis=1,inplace=True)

In [ ]:
# Visualizamos los datos actuales
sns.heatmap(entrenamiento.isnull())

In [ ]:
#queda asi el dataset, lo q interesa es dejar las columnas numericas
# por tanto podemos eliminar columnas alfanumericas Nombre y Ticket
entrenamiento.head(3)

In [ ]:
entrenamiento.drop(["Name","Ticket","PassengerId"],axis=1,inplace=True)
entrenamiento.head(3)

In [ ]:
"""sexo es alfanumerica sin embargo podria ser importante,
por tanto la convertimos en numerica con getdummiers hombre = 1 , mujer = 0
lo que era 1 columas ahora son dos donde o es 1 o es 0"""
pd.get_dummies(entrenamiento["Sex"])

In [ ]:
"""basta con mostrar una columna"""
sexo = pd.get_dummies(entrenamiento["Sex"], drop_first=True)
sexo.head(3)

In [ ]:
#se añade al dataset y borro la que ya no hace falta
entrenamiento = pd.concat([entrenamiento,sexo],axis=1)
entrenamiento.head(3)

In [ ]:
entrenamiento.drop("Sex",axis=1,inplace=True)
entrenamiento.head(3)

In [ ]:
#Cambiamos los valores alfanumericos en numericos
puerto= pd.get_dummies(entrenamiento["Embarked"])
puerto.head(3)

In [ ]:
# es suficiente quedarse con 2 columnas, 
#si dos son 0 0 qioeres decir que es de al categoria que falta
puerto= pd.get_dummies(entrenamiento["Embarked"],drop_first=True)
puerto.head(3)

In [ ]:
entrenamiento = pd.concat([entrenamiento,puerto],axis=1)
entrenamiento.head(3)

In [ ]:
# Elimino Embarked	
entrenamiento.drop("Embarked",axis=1,inplace=True)
entrenamiento.head(3)

In [ ]:
entrenamiento=entrenamiento.rename(columns={"male":"Sex"})
entrenamiento.head(3)

### 3. Divido los datos

In [ ]:
# me interasa saber si sobrevive o no, dividimos la data
x_train = entrenamiento.iloc[:, 1:] # carcateristicas
y_train = entrenamiento["Survived"] # etiqueta

### Datos test

In [ ]:
# como los datos estaban divididos en train y test 
# utilizao los de test
prueba = leer_datos("test_Titanic.csv")
prueba.info()

In [ ]:
"""realizo el mismo taratamiento de datos"""
prueba.isna().sum().sort_values()

In [ ]:
sns.heatmap(prueba.isnull())

In [ ]:
# tratar con Fare
"""NO puede haber nulos porq el modelo no se ejecuta"""
prueba = prueba.fillna(value=0)
prueba.isna().sum().sort_values()

In [ ]:
# vamos a modificar el valor nullo por el valor medio
# calcular la edad media x cada una de las categorias (1ra,2da,y 3ra clase)
sns.boxplot(x="Pclass", y="Age", data=prueba)
"""la linea que divide la caja representa el valor medio
41 clase 1, 25 clase 2, 23 clase 3"""

In [ ]:
#rellenar valore nulos con estos valores
def calcular_edad_media(columnas):
    edad= columnas[0]
    clase=columnas[1]
    if pd.isnull(edad):
        if clase == 1:
            return 41
        elif clase == 2:
            return 25
        else:
            return 23
    else:
        return edad
    
# Invoco a la función calcular_edad_media 
prueba["Age"] = prueba[["Age","Pclass"]].apply(calcular_edad_media, axis=1)
prueba.head(3)

In [ ]:
# Borramos las para equiparar con tarin
prueba.drop(["Name","Ticket","PassengerId","Cabin"],axis=1,inplace=True)

In [ ]:
prueba.head(3)

In [ ]:
sexo = pd.get_dummies(prueba["Sex"], drop_first=True)
prueba = pd.concat([prueba,sexo],axis=1)
prueba.drop("Sex",axis=1,inplace=True)
prueba=prueba.rename(columns={"male":"Sex"})

In [ ]:
puerto= pd.get_dummies(prueba["Embarked"])
puerto= pd.get_dummies(prueba["Embarked"],drop_first=True)
prueba = pd.concat([prueba,puerto],axis=1)
prueba.drop("Embarked",axis=1,inplace=True)

In [ ]:
prueba.head(3)

In [ ]:
x_test = prueba # carcateristicas
#anadir columnas
y_test = pd.DataFrame(np.random.randint(0, 2, (418, 1)))

print(x_test)
print(y_test)

### 4. Crear el modelo

In [ ]:
modelo = LogisticRegression()
modelo.fit(x_train,y_train)

In [ ]:
y_pred = modelo.predict(x_test)
#y_pred.flatten()
y_pred = pd.DataFrame(y_pred)
print(y_pred)
print(y_test)

### 5. Pruebas

In [ ]:
print(classification_report(y_test, y_pred))

In [ ]:
confusion_matrix(y_test, y_pred)
#posi 115 correctos neg correctos95
#falso posi  falso neg  DIAGONALES 136 - 95 deben ser minimos

In [ ]:
# CONCLUSIÓn el modelo es fatal..